﻿@{
    ViewData["Title"] = "URS parsing and ticket creating";
}

<div class="row">
    <div>
        <h1>Step 1</h1>

        <form method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="UploadUrsAndDownloadChanges">
            <div class="form-group">
                <div>
                    <p>Select the URS please:</p>
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    Click on "Download changes" to Upload the URS and Download the file of changes.
                    <input type="submit" value="Download changes" />
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div>
        <h1>Step 2</h1>
        <p>Check and update the dowloaded file with changes from step 1.</p>
    </div>
</div>


<div class="row">
    <div>
        <h1>Step 3</h1>

        <form id="createTicketsForm" method="post" enctype="multipart/form-data" asp-controller="Assembla" asp-action="CreateTickets">
            <div class="form-group">
                <div>
                    <p>Select the downloaded file of changes from step 2:</p>
                    <input type="file" name="fileWithChanges" id="fileWithChanges" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p>Select a space:</p>
                    <select id="space" name="space"></select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p>Select a milestone:</p>
                    filter:<input type="text" id="milestoneFilter" />
                    <select id="milestone" name="milestone"></select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Create Tickets in assembla" />
                </div>
            </div>
        </form>

        @section Scripts {
            <script type="text/javascript">
                $(document).ready(function () {

                    var $space = $("#space");
                    var $milestone = $("#milestone");
                    var $milestoneFilter = $("#milestoneFilter");
                    var allMilestones = [];

                    $space.change(function () {
                        $milestone.html("");
                        $.getJSON(
                            "@Url.Action("GetMilestones", "Assembla")",
                            { spaceIdOrWikiNameFilter: $space.val() },
                            function (data) {
                                allMilestones = data;
                                $milestoneFilter.trigger("change");
                            });
                    });

                    function generateMilestonesList(milestones) {
                        var options = "";
                        $.each(milestones, function (index, item) {
                            options += "<option value='" + item.id + "'>" + item.name + "</option>"
                        });
                        $milestone.html(options);
                    }

                    $.getJSON(
                        "@Url.Action("GetSpaces", "Assembla")",
                        {},
                        function (data) {
                            var options = "";
                            $.each(data, function (index, item) {
                                options += "<option value='" + item.id + "'>" + item.name + "</option>"
                            });
                            $space.html(options);
                            if (data.length > 0) {
                                $space.val(data[0].id);
                            }
                            $space.trigger("change");
                        });

                    $milestoneFilter.on("keyup input change", function () {
                        var filter = $(this).val().toLowerCase();
                        var milestones = allMilestones.filter(function (milestone) {
                            return milestone.name.toLowerCase().indexOf(filter) >= 0;
                        });
                        generateMilestonesList(milestones);
                    });

                    $("#createTicketsForm").on("submit", function (event) {
                        event.preventDefault();
                        var file = $("#fileWithChanges")[0].files[0];
                        if (file) {
                            var formData = new FormData();
                            formData.append("fileWithChanges", file);
                            formData.append("space", $space.val());
                            formData.append("milestone", $milestone.val());

                            $.ajax({
                                url: "@Url.Action("CreateTickets", "Assembla")",
                                data: formData,
                                processData: false,
                                contentType: false,
                                type: "POST",
                                success: function (data) {
                                    alert(data);
                                },
                                error: function (data) {
                                    alert(data);
                                }
                            });
                        }
                        else {
                            alert("File not selected");
                        }
                    });
                });
            </script>
        }
    </div>
</div>
