﻿@{
    ViewData["Title"] = "Tickets processing";
}

<div class="row">
    <div>
        <h1>Update protocol for all tickets from milestone</h1>

        <form id="updateTicketsProtocolForm" method="post" enctype="multipart/form-data" asp-controller="Assembla" asp-action="UpdateTicketsProtocol">
            <div class="form-group">
                <div>
                    <p>Select a space:</p>
                    <select id="space" name="space"></select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p>Select a milestone:</p>
                    filter:<input type="text" id="milestoneFilter" />
                    <select id="milestone" name="milestone"></select>
                </div>
            </div>
            <div class="form-group">
                <div>
                    <p>Protocol:</p>
                    <input type="text" id="protocol" name="protocol" />
                </div>
            </div>
            <div class="form-group">
                <div>
                    <input type="submit" value="Update protocol" />
                </div>
            </div>
        </form>

        @section Scripts {
        <script type="text/javascript">
                $(document).ready(function () {

                    var $space = $("#space");
                    var $milestone = $("#milestone");
                    var $milestoneFilter = $("#milestoneFilter");
                    var allMilestones = [];

                    $space.change(function () {
                        $milestone.html("");
                        $.getJSON(
                            "@Url.Action("GetMilestones", "Assembla")",
                            { spaceIdOrWikiNameFilter: $space.val() },
                            function (data) {
                                allMilestones = data;
                                $milestoneFilter.trigger("change");
                            });
                    });

                    function generateMilestonesList(milestones) {
                        var options = "";
                        $.each(milestones, function (index, item) {
                            options += "<option value='" + item.id + "'>" + item.name + "</option>"
                        });
                        $milestone.html(options);
                    }

                    $.getJSON(
                        "@Url.Action("GetSpaces", "Assembla")",
                        {},
                        function (data) {
                            var options = "";
                            $.each(data, function (index, item) {
                                options += "<option value='" + item.id + "'>" + item.name + "</option>"
                            });
                            $space.html(options);
                            if (data.length > 0) {
                                $space.val(data[0].id);
                            }
                            $space.trigger("change");
                        });

                    $milestoneFilter.on("keyup input change", function () {
                        var filter = $(this).val().toLowerCase();
                        var milestones = allMilestones.filter(function (milestone) {
                            return milestone.name.toLowerCase().indexOf(filter) >= 0;
                        });
                        generateMilestonesList(milestones);
                    });

                    $("#updateTicketsProtocolForm").on("submit", function (event) {
                        event.preventDefault();
                        var protocol = $("#protocol").val();
                        if (protocol !== null && protocol !== "" && typeof protocol !== "undefined") {
                            var formData = new FormData();
                            formData.append("protocol", protocol);
                            formData.append("space", $space.val());
                            formData.append("milestone", $milestone.val());

                            $.ajax({
                                url: "@Url.Action("UpdateTicketsProtocol", "Assembla")",
                                data: formData,
                                processData: false,
                                contentType: false,
                                type: "POST",
                                success: function (data) {
                                    alert(data);
                                },
                                error: function (data) {
                                    alert(data);
                                }
                            });
                        }
                        else {
                            alert("Protocol should be provided");
                        }
                    });
                });
        </script>
        }
    </div>
</div>
